#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
  /* Starting slightly opaque */
  opacity: 0.9;
  transition: opacity 1s ease-in-out;
}

/* On hover, fade out */
#root:hover {
  opacity: 0.2;
}
